1. What are data structures, and why are they important ?
   - The way of organizing and storing data so that it can be accessed and manipluate efficiently.
   data structures are import because by using data structures we can do data handling , data organization

2. Explain the difference between mutable and immutable data types with
  examples?
   - mutable data type = they are those data type which we can change after creation.
   for example = list , dic.
   - Immutable data types = They are those data type which we can not change after creation.
   for example = tuples, frozen sets

3. What are the main differences between lists and tuples in Python?
   - The maiin diffrence between lists and tuples is we can change list after creation but we cann't change tuple after creation.

4.  Describe how dictionaries store data?
    - Dictionaries stores data as key value pair. in dict. keys are unique and immutable.

5. Why might you use a set instead of a list in Python?
  - I might be use set instead of a list beacause sets does not allow duplication and list allows duplication.

6. What is a string in Python, and how is it different from a list?
   - String is a sequence of character. it is immutable. string is define as "",'' . It is diffrent from list because list is sequence of item list can store any data type. list is define as [ ].

7.  How do tuples ensure data integrity in Python?
    - Tuples ensure data integrity in Python because they are immutable
     meaning their values cannot be changed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - a hash table is a data structure that stores key-value pairs. a hash function generates a unique index value for each key and dictionaries are a type of hash table.

9. Can lists contain different data types in Python ?
   - yes list can contain diffrent data types it can store hetrogenous data.

10.  Explain why strings are immutable in Python?
     - string in python is imutable means they can not be change after they created and this mutablity in the case of string is know as string mutablity in python

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries stores data as Key-value pair that makes it ideal to reprsent the strutured data and key in dictionaries are unique that means no duplicate value on the same key.

12.  Describe a scenario where using a tuple would be preferable over a list?
     - suppose we are storing a address data and we do not want to change it on future in that type of cases a tuple would be preferable over a list

13.  How do sets handle duplicate values in Python?
     - sets automatically delete duplicate values we do not have to remove duplicate value manually python automatically remove them

14. How does the “in” keyword work differently for lists and dictionaries?
   - IN the list the "in" keyword checks if a specific element prsent as a value in the list and the "in" keyword checks only key in the dictionaries

15. Can you modify the elements of a tuple? Explain why or why not?
    - No we can not modify the elemrnt of tuple in python because tuples are immutable in python

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary that contains one or more dictionaries as its values.

In [ ]:
# 16  What is a nested dictionary, and give an example of its use case?
nested_dict = {'key1': {'subkey1': "mohit", 'subkey2': "sohit"},'key2': {'subkey1': "rohit", 'subkey2': "ronit"},}
print(nested_dict)

{'key1': {'subkey1': 'mohit', 'subkey2': 'sohit'}, 'key2': {'subkey1': 'rohit', 'subkey2': 'ronit'}}

17. Describe the time complexity of accessing elements in a dictionary?
    - the time complexity of accessing an element in a Python dictionary is 0(1)
     this is because Python dictionaries use a hash table internally.

18. In what situations are lists preferred over dictionaries?
    - list preferred over dictionaries in many ways when we maintain sequential data so order is important. list can access element

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - dictionaries considered unordered because it use hash table for storing key value pair and its primary focus on fast lookup not maintaing orders.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
  -  In list the data is accessed by index postion whilw dictionary the data is accessed  by using a unique key

1. Write a code to create a string with your name and print it?

In [ ]:
# Write a code to create a string with your name and print it?
name = "shiv yadav"
print(name)

shiv yadav

2. Write a code to find the length of the string "Hello World".

In [ ]:
# Write a code to find the length of the string "Hello World".
string1 ="Hello World"
len(string1)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming".
string2 = "Python Programming"
string2[0:3]

'Pyt'

4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
# Write a code to convert the string "hello" to uppercase.
string3 = "hello"
string3.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
fav_fruit = "I like apple"
fav_fruit.replace("apple","orange")

'I like orange'

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
list5 = [1, 2, 3, 4, 5]
print(list5)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4].
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list =['a', 'b', 'c', 'd']
access_element = my_list[1]
print(access_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
my_list2 = [10, 20, 30, 40, 50]
my_list2[::-1]

[50, 40, 30, 20, 10]

In [ ]:
my_list2 = [10, 20, 30, 40, 50]
my_list2.reverse()
print(my_list2)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple1 =('red', 'green', 'blue', 'yellow')
access_element = my_tuple1[-2]
print(access_element)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tupel2 = (10, 20, 5, 15)
min_num = min(my_tupel2)
print(min_num)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
finding = ('dog', 'cat', 'rabbit')
finding.index("cat")

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
check_fruit = ("mango", "apple", "kiwi")
if "kiwi" in check_fruit:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set1 = {1, 2, 3, 4, 5}
my_set1.clear()
print(my_set1)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set3 = {1, 2, 3, 4}
my_set3.remove(4)
print(my_set3)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
find_union = set1|set2
print(find_union)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
find_intersection = s1&s2
print(find_intersection)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name": "shiv", "age": 20, "city": "gurugram"}
print(my_dict)

{'name': 'shiv', 'age': 20, 'city': 'gurugram'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict2 = {'name': 'John', 'age': 25}
my_dict2["country"] = "USA"
print(my_dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict3 = {'name': 'Alice', 'age': 30}
my_dict3["name"]

'Alice'

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
your_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
your_dict.pop("age")
print(your_dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
finding = {'name': 'Alice', 'city': 'Paris'}
if "city" in finding:
  print("city is in the dictionary")
else:
  print("city is not in the dictionary")

city is in the dictionary

26.  Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)
my_dict = {"name": "shiv", "age": 20, "city": "gurugram"}
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'shiv', 'age': 20, 'city': 'gurugram'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
random_num = [random.randint(1, 100) for _ in range(5)]
random_num.sort()
print(random_num)

[22, 43, 68, 76, 76]

28. Write a code to create a list with strings and print the element at the third index

In [ ]:
#Write a code to create a list with strings and print the element at the third index
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[2])

cherry

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Write a code to combine two dictionaries into one and print the result.
# Define two dictionaries
dict1 = {"name": "Neha", "age": 25}
dict2 = {"profession": "Data Analyst", "location": "India"}

combined_dict = dict1 | dict2

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Neha', 'age': 25, 'profession': 'Data Analyst', 'location': 'India'}

30.  Write a code to convert a list of strings into a set

In [ ]:
# Write a code to convert a list of strings into a set
list_string = ["apple", "banana", "cherry", "date", "elderberry"]
set_string = set(list_string)
print(set_string)

{'apple', 'elderberry', 'date', 'banana', 'cherry'}